@switch (configuration.type) {
  @case ('row') {
    <lcars-row [fill]="!!configuration.fill">
      @for (c of configuration.content; track $index) {
        <lcars-container [configuration]="c"></lcars-container>
      }
    </lcars-row>
  }
  @case ('column') {
    <lcars-column [fill]="!!configuration.fill">
      @for (c of configuration.content; track $index) {
        <lcars-container [configuration]="c"></lcars-container>
      }
    </lcars-column>
  }
  @case ('panel') {
    <lcars-panel>
      <lcars-textbox size="big">{{ configuration.title }}</lcars-textbox>
      @if (configuration.note) {
        <lcars-textbox textColor="muted">{{ configuration.note }}</lcars-textbox>
      }
    </lcars-panel>
  }
  @case ('button') {
    <button lcars-button (click)="emit(configuration)">{{ configuration.label }}</button>
  }
  @case ('toggle') {
    <lcars-toggle
      [label]="configuration.label || ''"
      [checked]="toggleState(configuration)"
      (checkedChange)="emitToggle(configuration, $event)"></lcars-toggle>
  }
  @case ('nav') {
    <app-dpad [emit]="configuration.emit"></app-dpad>
  }
  @case ('issues') {
    <lcars-issues></lcars-issues>
  }
  @case ('stats') {
    <lcars-stats [configuration]="configuration"></lcars-stats>
  }
}
