@if (ship) {
  <lcars-bar [title]="shipTitle" titleSide="right"></lcars-bar>
  @for (s of stats; track s.key) {
    @if (isNumeric(s)) {
      <lcars-row centered>
        <lcars-gauge [value]="num(s)" [label]="s.label" [unit]="s.unit || ''" size="sm"></lcars-gauge>
        @if (editable) {
          <button lcars-button shape="square" (click)="adjust(s, -1)">&minus;</button>
          <button lcars-button shape="square" (click)="adjust(s, 1)">+</button>
        }
      </lcars-row>
    } @else {
      <lcars-readout [label]="s.label" [value]="s.value"></lcars-readout>
    }
  }
} @else {
  <lcars-readout label="Telemetry" value="awaiting…"></lcars-readout>
}
