<div class="lcars-bar horizontal">
    <div class="lcars-title left" [ngClass]="{'active':active==='main'}" (click)="active='main'">MAIN</div>
    <div class="lcars-title left" [ngClass]="{'active':active==='ship'}" (click)="active='shipform'">SHIP</div>
    <div class="lcars-title left" [ngClass]="{'active':active==='ship'}" (click)="active='ship'">IO</div>
    <div class="lcars-title right">LCARS</div>
</div>

<div *ngIf="active==='main'">
    <table style="width:100%">
        <tbody>
            <tr><td>title</td><td><input [(ngModel)]="settings.title"></td></tr>
            <tr><td>footer</td><td><input [(ngModel)]="settings.footer"></td></tr>
        </tbody>
        <tbody>
            <tr><td>color main</td><td><input [(ngModel)]="settings.style.mainColor"></td></tr>
            <tr><td>color secondary</td><td><input [(ngModel)]="settings.style.secondaryColor"></td></tr>
            <tr><td>color tertiary</td><td><input [(ngModel)]="settings.style.tertiaryColor"></td></tr>
        </tbody>
    </table>
    <button (click)="settings.style = {mainColor:'#cefe44', secondaryColor:'#dde', tertiaryColor:'#ffa'};">DIS</button>
    <button (click)="settings.style = {mainColor:'#ba5', secondaryColor:'#b41', tertiaryColor:'#821'};">TOS</button>
    <button (click)="settings.style = {mainColor:'#fc6', secondaryColor:'#99f', tertiaryColor:'#008'};">TNG</button>
    <button (click)="settings.style = {mainColor:'#cefe44', secondaryColor:'#dde', tertiaryColor:'#ffa'};">VOY</button>
    <button (click)="settings.style = {mainColor:'#cefe44', secondaryColor:'#dde', tertiaryColor:'#ffa'};">PIC</button>
    <br>
    <button (click)="sync()">save</button>
    <div>{{settings|json}}</div>
</div>

<div *ngIf="active==='shipform'">
    <button (click)="shipStatus('default')">Default</button>
    <button (click)="shipStatus('alert_yellow')">Yellow Alert</button>
    <button (click)="shipStatus('alert_red')">Red Alert</button>
    <button (click)="shipStatus('alert_black')">Black Alert</button>
    <br>
    <div *ngFor="let s of settings.ship|keyvalue">
        <span>{{s.key}}</span><span>{{s.value}}</span>
    </div>
</div>

<div *ngIf="active==='ship'">
    <table style="width:100%">
        <tr *ngFor="let s in cvs">
            <td>{{s}}</td>: <td>{{cvs[s]}}</td>
        </tr>
    </table>
</div>